__pycache__/
.idea/
toutiao/curl_cmd2.txt
myfav.db
toutiao/toutiao-myfavorites.txt
toutiao/files/*myfavorites-*.txt
toutiao/shortmessages.py
test/toutiao/cookie.txt
toutiao/cookie.txt
myfavorite.code-workspace
